<html>

<head>
    <title>{% block title %}Talk{% endblock %}</title>
    <style>
        html,
        body {
            height: 100%
        }

        .content {
            margin: 30px;
            text-align: center;
        }

        .posts li {
            text-align: left;
            list-style: none;
        }
        .emit {
            position: fixed;
            bottom: 0;
        }
        .emit input {
            width: 400px;
        }
        .emit p {
            display: inline-block;
        }
    </style>
</head>

<body>
    <section class="content">
        {% block content %}
        <p>Missing content!</p>
        {% endblock %}
    </section>
    <section class="emit">
        <input type="text">
        <p>Send</p>
    </section>
</body>
<script src="../common/socket-C.js"></script>

</html>