html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.interface {
    height: 100%;
}

.main {
    position: relative;
    padding-top: 63px;
    height: 100%;
    background-color: rgb(250, 250, 250);
}

.tab-body {
    position: relative;
    height: 100%;
    -webkit-app-region: no-drag;
}