.message-box {
    position: fixed;
    width: 100%;
    top: 80px;
    z-index: 1000000;
    & .message {
        position: absolute;
        left: 50%;
        & .animated {
            position: relative;
            right: 50%;
            padding: 10px 20px;
            background: #fff;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        }
        & p {
            margin: 0;
        }
    }
}