.zwei-wave {
    position: relative;
    & .wave {
        display: inline-block;
        width: 10px;
        height: 10px;
        opacity: 1;
        cursor: default;
        border-radius: 50%;
        position: absolute;
        background-color: rgba(155,255,255,0.2);
        transition: 3s transform cubic-bezier(0.23, 1, 0.32, 1),
                    3s opacity cubic-bezier(0.23, 1, 0.32, 1);
        transform-origin:center;
        transform: scale(0);
    }
}
